/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#top-bar {
    height: 60px;
    background: #202224;  
}

.navbar {
    padding: 0 ;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.container-fluid {
    line-height: 2.5;
}

#navbarSupportedContent {
    margin: 0;
}

.navbar-link {
    padding: 0px 20px;
    font-size: 20px;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(242, 242, 245);
    color: black;
    transition: all 0.3s;
    height: 100vh;
    overflow: scroll;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-size: .97em;
    display: block;
    width: 100%
}

#sidebar ul li a:hover {
    color: #fff;
    background: rgb(50,205,50);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(50,205,50);
}

a[data-toggle="collapse"] {
    position: relative;
}

.side-tab {
    padding: .2rem 1.1rem;
}

a.active, .nav-item.active, .nav-item:hover {
    color: #fff;
    background: rgb(50,205,50);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    height: 100vh;
    overflow: scroll;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

