.courses-head {
    height: 255px;
    width: 100%
}

.courses-head-content {
    background-image: url(../images/courses.jpg);
    background-size: cover;
}

.home-container-text {
    margin: 100px auto 100px;
    color: rgb(238, 255, 5);
    background: rgba(116, 86, 86, 0.9);
    padding: .6rem 2rem;
    border-radius: 10px;
}

.home-container-text h2 {
    margin: auto;
}

.courses-main {
    width: 100%;
}

.courses-section {
    margin-bottom: 10px;
}

.row {
    margin: 0;
}

.col-md-2 {
    padding: 0;
    box-shadow: 3px 5px 8px;
    font-size: 15px;
}

div.courses-cards a {
    text-decoration: none;
    color: rgb(22, 21, 21)
}

.col-md-2 p {
    margin-bottom: .1rem;
}

.courses-cards .card {
    position: relative;
}

.courses-cards .card:hover {
    background-color: rgba(231, 219, 235, 0.7);
}

.card .narx {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 16px;
    padding:3%;
}

.hover-effect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .card {
    opacity: 0.1;
}
  
.card:hover .coming-soon {
    opacity: 1;
}

.coming-soon .text {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 18px 34px;
    border-radius: 5px;
}

.coming-soon {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-body .card-title {
    font-weight: 600;
}

.card-img-top {
    height:140px;
}

  